<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>appCalculadora.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55DF93161F3377BF003D1825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55DF932F1F3377BF003D1825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55DF933A1F3377BF003D1825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
